<footer>
    <div class="container">
        <div class="wrapper">
            <div id="copyright" class="footer-block">
                <a href="/pinery/home"><img src="assets/img/pinery.svg" alt="Pinery logo" class="logo"></a>
                <p class="footer-text">© Официальный сайт<br>
                    pinery.ru, 2023<br>
                    Все права защищены</p>
            </div>
            <div id="contacts" class="footer-block">
                <p class="footer-heading">Контакты</p>
                <p class="footer-text">+7 984 269-78-54<br>
                    г. Омск, ул. Гагарина,<br>
                    д. 14, офис 808<br>
                    contact@pinery.ru
                </p>
            </div>
            <div id="info" class="footer-block">
                <p class="footer-heading">Полезная информация</p>
                <div class="footer-menu">
                    <a href="/pinery/home" class="menu-item">Главная</a>
                    <a href="/pinery/attractions" class="menu-item">Достопримечательности</a>
                    <a href="/pinery/hotels" class="menu-item">Отели</a>
                    <a href="/pinery/about" class="menu-item">О проекте</a>
                    <a href="/pinery/contacts" class="menu-item">Контакты</a>
                </div>
            </div>
            <div id="social" class="footer-block">
                <p class="footer-heading">Расскажи о нас друзьям</p>
                <div class="icons">
                    <a href="https://vk.com/" target="_blank" class="icon"><img src="assets/img/vk.svg" alt="VK"></a>
                    <a href="https://www.whatsapp.com/" target="_blank" class="icon"><img src="assets/img/whatsapp.svg"
                            alt="WhatsApp"></a>
                    <a href="https://telegram.org/" target="_blank" class="icon"><img src="assets/img/telegram.svg"
                            alt="Telegram"></a>
                    <a href="https://ok.ru/" target="_blank" class="icon"><img src="assets/img/ok.svg" alt="OK"></a>
                </div>
                <div class="blind-block">
                    <p class="blind-text">ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ</p>
                    <img id="specialButton" class="blind-img" src="https://lidrekon.ru/images/special.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" />
                </div>
            </div>
        </div>
    </div>
</footer>