<div class="container">
    <div class="page-name">Контакты</div>
    <p class="contacts-text">Телефон: +7 984 269-78-54</p>
    <p class="contacts-text">Адрес: г. Омск, ул. Гагарина, д. 14, офис 808</p>
    <p class="contacts-text">По всем интересующим вопросам: contact@pinery.ru</p>
    <div class="map">
        <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A4f486853f912f07ef99d1c783703d5be53374328cc17edd31124a19685c58593&amp;source=constructor"
            width="100%" height="700" frameborder="0"></iframe>
    </div>
</div>