<div class="container">
    <h2 class="page-name">О проекте</h2>
    <p class="about-text"> <span class="bold">Pinery</span> - это информационная площадка об актуальных турах, достопримечательностях и отелях в
        Омске и Омской области. Здесь собрана вся необходимая информация для туристов и гостей нашего
        города.</p>
    <p class="about-text">Наша команда состоит из таких же любителей отдыха на природе, как и вы. Мы сталкивались с
        похожими проблемами при поиске достопримечательностей, отелей и актуальных туров. Мы
        потратили огромное количество часов на поиски нужной нам информации на бесчисленном
        количестве разных сайтов. И тогда мы поняли, что с этим надо что-то делать. Необходимо упростить
        процедуру поиска мест для отдыха в нашем любимом городе. Так родилась идея создания
        специального информационного сервиса, в базу данных которого входили бы практически все
        достопримечательности, интересные места и отели Омска и Омской области.</p>
    <p class="about-text">Создавая наш сервис, мы руководствовались одним убеждением: делая что-то для людей, делай так,
        словно ты создаешь это для себя самого. Поэтому немалое внимание было уделено разработке
        удобного интерфейса, ориентирование в котором осуществлялось бы интуитивно и понятно даже
        для неопытных пользователей интернета.</p>
    <p class="about-text">Если у вас есть информация об отеле, базе отдыха или достопримечательности,  которую вы хотели
        бы видеть на нашем сайте или замечания к описанию, размещенном на нашем сайте, напишите нам
        на contact@pinery.ru и мы постараемся исправить недочет.</p>
    <a href="/pinery/home" class="icon"><img src="assets/img/pineryshort.svg" alt="Go to home"></a>
</div>