/**************Обнуление**************/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/***********************************/

/**************Глобальные стили**************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@font-face {
	font-family: 'Neutral Face'; 
	src: url(assets/font/NeutralFace.otf);
}
* {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.fx {
	display: flex;
}
.ai-c {
	align-items: center;
}
.jc-c {
	justify-content: center;
}
.fd-col {
	flex-direction: column;
}
.page-name {
    font-size: 45px;
    margin: 50px 0;
    text-align: center;
}
.admin {
    margin: 50px 0;
    cursor: pointer;
	text-align: center;
    &:hover {
        color: blue;
    }
}

/*576px - 0px*/
@media screen and (max-width: 576px) {
	.page-name {
        font-size: 8vw;
        margin: 8% 0;
    }
}
/***********************************/

/*---------------SCROLL---------------*/
*,
html * /* override x.xhtml.ru style */ 
{
  scrollbar-width: thin;
  scrollbar-color: rgb(63, 77, 51) #fff;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #fff;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(63, 77, 51);
  border-radius: 5px;
}
/*------------------------------*/