.table-container {
    width: 1037px;
    margin: 0 auto;
    overflow-y: scroll;
    .table-header {
        font-size: 24px;
        border: 1px solid #fff;
        background-color: #3F4D33;
        color: #fff;
        padding: 18px 20px;
    }
    .table-item {
        border: 1px solid #fff;
        background-color: #E8E8E8;
        color: #000;
        padding: 18px 10px;
        text-align: center;
        line-height: 130%;
    }
    .link {
        color: #000;
        &:hover {
            border-bottom: 1px solid #000;
        }
    }
    .table-button {
        background-color: #fff;
    }
}
/*RESPONSIVE*/

/*1200px - 992px*/
@media screen and (max-width: 1200px) {
    .container, .table-container {
        width: 960px;
    }
}

/*992px - 768px*/
@media screen and (max-width: 992px) {
    .container, .table-container {
        width: 720px;
    }
}

/*768px - 576px*/
@media screen and (max-width: 768px) {
    .container, .table-container {
        width: 540px;
    }
}

/*576px - 0px*/
@media screen and (max-width: 576px) {
    .container, .table-container {
        width: 90%;
    }
    .table-container {
        .table-header {
            font-size: 17px;
        }
        .table-item, .link {
            font-size: 12px;
        }
    }
}